{% extends 'tours/base.html' %}
{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{departure_list}}</h1>
    <p class="mb-4">Найдено {{departure_count}} тур{% if 2 <= departure_amount <= 4 %}a{% else %}ов{% endif %}, от {{price_min}} до {{price_max}} и от {{nights_min}} ночей до {{nights_max}} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for key, value in tours.items %}
      {% if value.departure == departure %}

      <div class="col-4">
        <div class="card mb-4">
          <img src="{{value.picture}}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ value.title }}</h2>
            <p class="card-text">{{value.description}}</p>
            <a href="{% url 'tour_url' key %}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

      {% endif %}
      {% endfor %}

    </div>
  </main>
{% endblock %}